---
import { Image } from "astro:assets";
import Menu from "./ProfileCardMenu.astro";
import Footer from "./ProfileCardFooter.astro";

// import { USER_AVATAR } from "../consts";
---

<div
  class="flex-col gap-4 mb-8 w-full sticky md:sticky card bg-base-100 shadow-xl p-4 transition-colors"
>
  <div class="avatar p-4">
    <Image
      class="mask mask-circle"
      format="webp"
      width={300}
      height={300}
      src="/images/blog/blog-thumb-1.jpg"
      alt="Profile"
      loading="eager"
    />
  </div>
  <Menu />
  <Footer />
</div>
